click==8.1.7 ; python_version >= "3.9" and python_version < "3.11"
cloudpickle==3.0.0 ; python_version >= "3.9" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.11" and platform_system == "Windows"
dask-expr==1.0.10 ; python_version >= "3.9" and python_version < "3.11"
dask==2024.4.1 ; python_version >= "3.9" and python_version < "3.11"
dask[dataframe]==2024.4.1 ; python_version >= "3.9" and python_version < "3.11"
duckdb==0.10.1 ; python_version >= "3.9" and python_version < "3.11"
fsspec==2024.3.1 ; python_version >= "3.9" and python_version < "3.11"
importlib-metadata==7.1.0 ; python_version >= "3.9" and python_version < "3.11"
locket==1.0.0 ; python_version >= "3.9" and python_version < "3.11"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "3.11"
packaging==24.0 ; python_version >= "3.9" and python_version < "3.11"
pandas==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
partd==1.4.1 ; python_version >= "3.9" and python_version < "3.11"
polars==0.20.18 ; python_version >= "3.9" and python_version < "3.11"
pyarrow==15.0.2 ; python_version >= "3.9" and python_version < "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "3.11"
pytz==2024.1 ; python_version >= "3.9" and python_version < "3.11"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.11"
toolz==0.12.1 ; python_version >= "3.9" and python_version < "3.11"
tzdata==2024.1 ; python_version >= "3.9" and python_version < "3.11"
zipp==3.18.1 ; python_version >= "3.9" and python_version < "3.11"
